<div mat-dialog-title class="titleDialog">
  <div class="space-between">
    <h3 *ngIf="!data.edition">Ajouter un marché :</h3>
    <h3 *ngIf="data.edition">Modifier un marché :</h3>
    <button mat-mini-fab matTooltip="Fermer la fenêtre" matTooltipPosition="right" (click)="onCloseClick()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<form #form="ngForm" (ngSubmit)="submit(data.edition)">
  <div mat-dialog-content>
    <div>
      <span class="label-for-input">
        <label>Nom du marché :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="nomMarche" name="nomMarche" required placeholder="Nom du marché"
               [(ngModel)]="marche.nomMarche">
      </mat-form-field>
    </div>
    <div>
      <span class="label-for-input">
        <label>Lieu du marché :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="lieuMarche" name="lieuMarche" required placeholder="Lieu du marché"
               [(ngModel)]="marche.lieuMarche">
      </mat-form-field>
    </div>
    <div>
      <span class="label-for-input">
        <label>Jour du marché :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="jourMarche" name="jourMarche" required placeholder="Jour du marché"
               [(ngModel)]="marche.jourMarche">
      </mat-form-field>
    </div>
    <div>
      <span class="label-for-input">
        <label>Heure de début:</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="heureDebutMarche" name="heureDebutMarche" required placeholder="Heure de début"
               [(ngModel)]="marche.heureDebutMarche">
      </mat-form-field>
    </div>
    <div>
      <span class="label-for-input">
        <label>Heure de fin :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="heureFinMarche" name="heureFinMarche" required placeholder="heure de fin"
               [(ngModel)]="marche.heureFinMarche">
      </mat-form-field>
    </div>
  </div>

  <div class="mat-dialog-title">
    <mat-slide-toggle id="partieAdministrative" name="partieAdministrative"
                      [(ngModel)]="partieAdministrative">Partie administrative
    </mat-slide-toggle>
  </div>

  <div *ngIf="partieAdministrative">
    <div>
      <span class="label-for-input">
        <label>Nombre de stands maximum :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="nbStandsMaxMarche" name="nbStandsMaxMarche" required placeholder="Nombre de stands maximum"
               [(ngModel)]="marche.nbStandsMaxMarche">
      </mat-form-field>
    </div>
    <div>
      <span class="label-for-input">
        <label>Prix du mètre :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="prixMetreMarche" name="prixMetreMarche" required placeholder="Prix du mètre"
               [(ngModel)]="marche.prixMetreMarche">
      </mat-form-field>
    </div>
    <div>
      <span class="label-for-input">
        <label>Placier :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="placierMarche" name="placierMarche" required placeholder="Placier"
               [(ngModel)]="marche.placierMarche">
      </mat-form-field>
    </div>
    <div>
      <span class="label-for-input">
        <label>Commune du marché :</label>
      </span>
      <mat-form-field class="input-normal-width">
        <input matInput id="communeMarche" name="communeMarche" required placeholder="Commune du marché"
               [(ngModel)]="marche.communeMarche">
      </mat-form-field>
    </div>
  </div>

  <div>
    <div class="containerDroiteDialog">
      <button type="submit" mat-raised-button color="primary" class="marginBottom">Enregistrer
      </button>
      <button type="button" mat-raised-button class="marginBottom" (click)="onCloseClick()">Annuler</button>
    </div>
  </div>
</form>
