<div class="font">
  <div class="padding">
    Bienvenue sur ce site de démonstration de gestion des marchés rennais.
  </div>

  <div class="padding">
    La partie front-end est réalisée avec Angular :
    <a href="https://angular.io/" target="_blank"><img src="assets/images/angular.png" height="40" width="40"></a>
    et est hébergée sur <a (click)="goToLink('https://www.netlify.com')"><button mat-raised-button color="primary">Netlify</button></a>
  </div>

  <div class="padding">
    La partie back-end est réalisée avec Spring :
    <a href="https://spring.io" target="_blank"><img src="assets/images/spring.png" height="40" width="40"></a>
    et est hébergée sur <a (click)="goToLink('https://www.heroku.com/')"><button mat-raised-button color="primary">Heroku</button></a>
  </div>

  <div class="padding">
    Le code est accessible sur Gitlab : <a (click)="goToLink('https://gitlab.com/EspritNOBEL')"><button mat-raised-button color="primary">Gitlab</button></a>
  </div>
</div>
