<div>
  <div *ngIf="isLoading">
    <mat-spinner diameter="200" class="spinner"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="containerDroite">
      <button mat-fab matTooltip="Ajouter un marché à la liste" matTooltipPosition="right" (click)="openDialog(false, null)">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="listeFindAllMarche" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column | NomColToNomNormal}} </th>
        <td mat-cell *matCellDef="let marche"> {{marche[column]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let marche" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="marche == expandedElement ? 'expanded' : 'collapsed'">
            <div>
              <div class="element-size">
                <span class="width-expanded">Nombre de stands max : </span>
                {{marche.nbStandsMaxMarche}}
              </div>
              <div class="element-size">
                <span class="width-expanded">Nombre de stands actuel : </span>
                {{marche.nbStandsActuelMarche}}
              </div>
              <div class="element-size">
                <span class="width-expanded">Prix du mètre : </span>
                {{marche.prixMetreMarche}}
              </div>
              <div class="element-size">
                <span class="width-expanded">Nom du placier : </span>
                {{marche.placierMarche}}
              </div>
              <div class="element-size">
                <span class="width-expanded">Commune : </span>
                {{marche.communeMarche}}
              </div>
            </div>

            <div>
              <button mat-mini-fab class="mat-mini-icon" matTooltip="Modifier" matTooltipPosition="left"
                      (click)="openDialog(true, marche)">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-mini-fab class="mat-mini-icon" matTooltip="Supprimer" matTooltipPosition="right"
                      (click)="openConfirmDialog(marche.id)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let marche; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === marche"
          (click)="expandedElement = expandedElement === marche ? null : marche">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>

</div>
