.containerDroite {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.mat-tooltip {
  color: yellow;
}

.spinner {
  margin-top: 200px;
  height: 200px;
  width: 200px;
}

.mat-dialog-container {
  background-color: white;
}

::ng-deep .width-expanded {
  float: left;
  width: 200px;
}

//mat-table
table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #777;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
  font-weight: bold;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 750px;
  font-weight: normal;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.element-size {
  width: 500px;
}

::ng-deep .mat-header-cell {
  color: green;
  font-weight: bold;
}

.mat-mini-icon {
  margin: 20px;
}

//mat-table
