<div>
  <div *ngIf="isLoading">
    <mat-spinner diameter="200" class="spinner"></mat-spinner>
  </div>
  <div *ngIf="!isLoading">
    <div class="containerDroite">
      <button mat-fab matTooltip="Ajouter un exposant à la liste" matTooltipPosition="right" (click)="openDialog()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    </div>
    <table mat-table [dataSource]="listeFindAllExposant" multiTemplateDataRows class="mat-elevation-z8">
      <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
        <th mat-header-cell *matHeaderCellDef> {{column | NomColToNomNormal}} </th>
        <td mat-cell *matCellDef="let exposant"> {{exposant[column]}} </td>
      </ng-container>

      <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let exposant" [attr.colspan]="columnsToDisplay.length">
          <div class="example-element-detail" [@detailExpand]="exposant == expandedElement ? 'expanded' : 'collapsed'">
            <div>
              <div class="element-size">
                <span>jgmksjgfklds : </span>
                {{exposant.nomCommercialExposant}}
              </div>
              <div> {{exposant.nomResponsableExposant}} </div>
            </div>
            <div>
              <button mat-mini-fab class="mat-mini-icon" matTooltip="Modifier" matTooltipPosition="left">
                <mat-icon>create</mat-icon>
              </button>
              <button mat-mini-fab class="mat-mini-icon" matTooltip="Supprimer" matTooltipPosition="right">
<!--                      (click)="openConfirmDialog(marche.id)">-->
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let exposant; columns: columnsToDisplay;"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === exposant"
          (click)="expandedElement = expandedElement === exposant ? null : exposant">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
  </div>

</div>

