<div mat-dialog-title class="titleDialog">
  <div class="space-between">
    <h4>Supprimer le marché :</h4>
    <button mat-mini-fab matTooltip="Fermer la fenêtre" matTooltipPosition="right" (click)="onCloseClick()">
      <mat-icon>clear</mat-icon>
    </button>
  </div>
</div>

<div>
  <div class="containerDroiteDialog">
    <button type="button" mat-raised-button color="primary" class="marginBottom"
            (click)="onConfirm()">Supprimer
    </button>
    <button type="button" mat-raised-button class="marginBottom" (click)="onCloseClick()">Annuler</button>
  </div>
</div>
