.titleDialog {
  align-items: center;
  background-color: lightgreen;
  padding: 0.2rem;
}

.space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.containerDroiteDialog {
  display: flex;
  justify-content: flex-end;
}

.marginBottom {
  margin-left: 10px;
}

.input-normal-width {
  width: 50%;
}

.label-for-input {
  margin-right: 20px;
}

h4 {
  margin: 25px;
}

span {
  display: inline-block;
  overflow: hidden;
  width: 150px;
}
